/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 349;
  --sat: 75%;
  --lig: 86%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 82%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Montserrat', sans-serif;  
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

html{
  scroll-behavior: smooth;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}

.text-color-black{
  color: #000 !important;
}

.button-pink{
  background-color: hsl(339 , 85% , 95%) !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme{
  position: absolute;
  top: 1.5rem;
  right: 0;
  font-size: 1.25rem;
  color: #000;  
  cursor: pointer;
  transition: 0.3s;
}

.change-theme:hover{
  color: #F16339;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .button-gray{
  background-color: var(--container-color);
}

.dark-theme .button-gray:hover{
  background-color: hsl(var(--hue), 24%, 16%);
}

.dark-theme .filters-content{
  background-color: var(--container-color);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(var(--hue), 8%, 16%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--hue), 8%, 24%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 8%, 32%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/

.header{
  width: 100%;
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  border-bottom: 1px solid #e8ebed;
  display: flex;
  right: 0;
  background-color: #F6C1CB;
  z-index: 20;
  padding-left: 210px;
  padding-right: 210px;
}

.header .header-nav{
  width: 100%;
  padding: 0px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo-description{
  align-items: center;
  display: flex;
}

.header .logo-description img{
 width: 66px;
}

.header .logo-description p{
  text-shadow: 0 0 1px #000;
}

.header .custom-choose{
  
}   

.header .custom-choose-info{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header .custom-choose-info li{
 list-style: none;
 padding: 0px 8px;

}

.header .dang-nhap{
  text-decoration: none;
  line-height: 40px;
  padding: 0px 16px;
  border-radius: 20px;
  margin: 0px 8px;
  background-color: #F16339;
  color: #fff;
  font-size: 15px;
}

.header .ten-shop{
  color: #000;
  font-size: 15px;
  font-weight: 550;
  text-decoration: none;
}

.custom-choose .custom-choose-info a{
  color: #000;
  background-color: #F6C1CB;
  font-weight: 550;
}

.custom-choose-info a:hover{
  background-color: #F16339;
  transition: 0.2s;
  color: #fff;
  
}

.header .header-nav > .login a{
  text-shadow: 0 0 1px #fff;
}

.header .header-nav .login{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
}

.header .login:hover a{  
  opacity: 0.8;
}

/*=============== PROFILE ===============*/
.profile{
  position: relative;
  padding-top: 3.5rem;
}

.profile-container{
  row-gap: 2rem;
}

.profile-data{
  display: grid;
  text-align: center;
}

.profile-avt{
  width: 150px;
  height: 150px;
  background: linear-gradient(180deg,
              hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
              hsla(var(--hue), var(--sat), var(--lig), 0.2) 100%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile-border{
  width: 165px;
  height: 165px;
  border: 3.5px solid var(--first-color);
  justify-self: center;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile-name{
  font-size: var(--h2-font-size);
}

.profile-profession{
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile-social{
  display: flex;
  justify-content:  center;
  column-gap: 0.75rem;
}

.profile-social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile-social-link:hover{
  color: var(--first-color);
}

.profile-info{
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile-info-group{
  text-align: center;
}

.profile-info-number{
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.profile-info-description{
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profile-buttons,
.profile-buttons-small{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-buttons{
  column-gap: 1rem;
}

.profile-buttons-small{
  column-gap: 0.25rem;
}
/*=============== BUTTONS ===============*/
.button{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #000;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button i{
  font-size: 1.25rem;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button-small{
  padding: 0.75rem;
  box-shadow: none;
}

.button-gray{
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button-gray:hover{
  background-color: var(--text-color-light);
}


/*=============== FILTERS TABS ===============*/
.filters-content{
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighten);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters-button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filters-button:hover{
  background-color: var(--body-color);
}

/*=============== PROJECTS ===============*/
.projects-card{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects-card img{
  width: 100%;
  height: 100%;
}

.projects-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg,
              hsla(var(--hue), 24%, 40%, 0.3) 0%,
              hsla(var(--hue), 24%, 4%, 1) 95%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.projects-subtitle,
.projects-title{
  color: #fff;
}

.projects-subtitle{
  font-size: var(--smaller-font-size);
}

.projects-title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projects-button{
  padding: 0.5rem;
}

.projects-card:hover .projects-modal{
  bottom: 0;
}

/*=============== SKILLS ===============*/
.skills-content{
  row-gap: 3.5rem;
}

.skills-title{
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills-box{
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills-group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills-data{
  display: flex;
  column-gap: 0.5rem;
}

.skills-data i{
  font-size: 1rem;
  color: var(--first-color);
}

.skills-name{
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skills-level{
  font-size: var(--smaller-font-size);
}

/* Hide and show projects & skills */
.filters [data-content]{
  display: none;
}

.filters-active[data-content]{
  display: grid;
}

/* Activate button filter */
.filter-tab-active{
  background-color: var(--body-color);
}

/*=============== CONTACT ME ===============*/
.flex{
  margin-top: 54px;
  margin-bottom: 54px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact-container{
  row-gap: 3rem;
  display: flex;
  justify-content: center;
}

.contact-information{
  display: flex;
  margin-bottom: 2rem;
}

.contact-icon{
  font-size: 2rem;
  color: var(--first-color);
  margin-right: 0.75rem;
}

.contact-title{
  font-size: var(--h3-font-size);
  font-weight: 500;
}

.contact-subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact-content{
  background-color: hsl(339 , 85% , 95%);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact-label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact-input{
  width: 100%;
  background-color: hsl(339 , 85% , 95%);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.button-flex{
  cursor: pointer;
  border: none;
  font-family: var(--body-font);
}

.button-flex:hover{
  background-color: #F6C1CA !important;
}
/*=============== FOOTER ===============*/
.footer-copy{
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);

}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb{
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--hue), 8%, 44%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile-info{
    column-gap: 1.5rem;
  }

  .profile-buttons{
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills-box{
    column-gap: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .projects-content{
    grid-template-columns: 332px;
    justify-content: center;
  }
  .filters-content{
    width: 332px;
    margin: 3rem auto;
  }
}

@media screen and (min-width: 776px){
  .projects-content,
  .skills-content{
    grid-template-columns: repeat(2, 332px);
  }

  .skills-content{
    justify-content: center;
    column-gap: 3rem;
  }
}
/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .change-theme{
    top: 1.25rem;
    right: 2rem;
    font-size: 1.6rem;
  }

  .profile{
    padding-top: 4.5rem;
  }

  .profile-border{
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }

  .profile-avt{
    width: 185px;
    height: 185px;
  }

  .profile-avt img{
    width: 100%;
  }

  .profile-profession{
    margin-bottom: 1.5rem;
  }

  .profile-info{
    column-gap: 3rem;
  }

  .profile-info-description{
    font-size: var(--small-font-size);
  }

  .profile-buttons{
    column-gap: 2rem;
  }

  .projects-content{
    gap: 2rem 3rem;
  }

  .projects-modal{
    padding: 1.5rem;
  }

  .skills-title{
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .footer-copy{
    margin: 4.5rem 0 2.5rem;
  }
}